<a href="https://byeku2.github.io">{{ .Site.Title }}</a> &copy; {{ .Site.Copyright | markdownify }} {{ now.Format "2006"
}} por <a href="https://github.com/byeku2">{{ site.Params.author }}</a> está licenciado bajo <a
    href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a><img
    src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt=""
    style="max-width: 1em;max-height:1em;margin-left: .2em;"><img
    src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt=""
    style="max-width: 1em;max-height:1em;margin-left: .2em;"><img
    src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt=""
    style="max-width: 1em;max-height:1em;margin-left: .2em;"><img
    src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt=""
    style="max-width: 1em;max-height:1em;margin-left: .2em;">